# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flas
instance/
*.log
*.db

# Environment variables
.env
.flaskenv

# VS Code settings (if using VS Code)
.vscode/

# Migrations (optional – only ignore if you recreate them each time)
# migrations/

# OS junk
.DS_Store
Thumbs.db

# Python virtualenv
venv/
env/
ENV/

# Pytest cache
.pytest_cache/

# Compiled binary
*.so